body {
  background: hslac($background, 1);
  overflow-x: hidden;
}
.view-width {
  width: calc(100% - 4em);
  max-width: 1400px;
}
.grain {
  top: 0; left: 0; right: 0; bottom: 0;
  position: fixed;
  background-position: 50% 50%;
  background-size: auto;
  pointer-events: none;
  user-select: none;
  opacity: .015;
  z-index: 1000;
}
::selection {
  color: hslac($white, 1);
  background: hslac($primary, 1);
}
