body {
  width: 100vw; height: 100vh;
  color: hslac($white, 1);
  background: hslac($background, 1);
  overflow-x: hidden;
}
.view-width {
  width: calc(100% - $view-width-padding) !important;
  max-width: 1400px;
}
.grain {
  top: 0; left: 0; right: 0; bottom: 0;
  position: fixed;
  background-position: 50% 50%;
  background-size: auto;
  pointer-events: none;
  user-select: none;
  opacity: .02;
  z-index: 1000;
}
.component-grid {
  position: relative;
  display: grid;
  gap: 4em;
  grid-template-columns: 1fr 75%;
  @media (max-width: $layout-breakpoint-small) {
    grid-template-columns: 1fr;
  }

  &-left {
    width: 100%;
  }
  .cgl-left-col {
    position: relative;
    gap: 20em;
    @include flex-col-left();
  }
  .cgl-space-bet {
    @include flex-space-bet-start-col();
  }
  &-right {
    width: 100%;
  }
  &-title {
    color: hslac($white, 1);
    font-size: $paragraph;
    font-family: $font-secondary;
    font-weight: 300;
    letter-spacing: .4em;
    text-transform: uppercase;
  }
  &-ball {
    width: 14em; height: 14em;
    position: sticky;
    @include flex-center();

    .circle-svg {
      width: 100%;
      height: 100%;
      .circle {
        fill: transparent;
        stroke: hslac($white, .1);
        stroke-width: 1;
      }
      .fill {
        fill: none;
        stroke: hslac($white, 1);
        stroke-width: 1;
        stroke-dasharray: 100 100;
        transition: stroke-dashoffset 0.3s ease;
      }
    }

    &-title {
      font-size: calc($paragraph + .2rem);
      font-weight: 300;
      letter-spacing: .4rem;
      text-transform: uppercase;
      position: absolute;
      z-index: 2;
    }
  }
}
::selection {
  color: hslac($white, 1);
  background: hslac($primary, 1);
}
