.about-header {
  position: relative;

  img {
    top: 50%; left: 50%;
    height: 50%;
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 110;
  }
  &-blur {
    top: calc(50% + 2em) !important;
    filter: blur(9rem);
    transform: translate(-50%, -50%) scale(.9, .9) !important;
    opacity: .7;
    z-index: 109 !important;
  }
  &-banner {
    width: 100%; height: 100vh;
    position: relative;
  }
}
.about {
  /*width: calc(100vw - calc($view-width-padding / 2));*/
  width: 100vw;
  min-height: 50em;
  border-top: 1px solid hslac($white, .1);
  border-bottom: 1px solid hslac($white, .1);
  @include flex-col();

  .component-grid-left {
    @media (max-width: $layout-breakpoint-xmedium) {
      grid-row: 2;
    }
  }
  .component-grid-right {
    @media (max-width: $layout-breakpoint-xmedium) {
      grid-row: 1;
    }
  }
  &-inner {
    gap: 8em;
    grid-template-columns: 1fr 65% !important;
    @media (max-width: $layout-breakpoint-xmedium) {
      gap: 4em;
      grid-template-columns: 1fr !important;
    }

    &-left {
      padding: 10em 0;
      height: 100%;
      @include flex-space-bet-start-col();
      @media (max-width: $layout-breakpoint-medium) {
        padding: 6em 0;
      }
      @media (max-width: $layout-breakpoint-xmedium) {
        padding: 2em 4em 10em 4em;
        gap: 4em;
      }

      &-title {
        font-size: $heading-medium;
        font-weight: 500;
        line-height: 1.3;
      }
      &-button {
        padding: 0 0 1em 0;
        color: hslac($white, 1);
        font-family: $font-secondary;
        font-size: $paragraph;
        font-weight: 300;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid hslac($white, .1);
        letter-spacing: .4em;
        text-transform: uppercase;
        cursor: pointer;
      }
    }
    &-video {
      width: 100%; height: 1fr;
      position: relative;
      background-color: hslac($background-dark, 1);
      overflow: hidden;
      cursor: pointer;
      @include flex-center();

      &::after {
        content: "";
        display: block;
        padding-bottom: 80%;
        @media (max-width: $layout-breakpoint-xmedium) {
          padding-bottom: 60%;
        }
      }

      &:hover &-overlay {
        background-color: hslac($black, .5);
      }
      &-overlay {
        width: 100%; height: 100%;
        position: absolute;
        background-color: hslac($black, 0);
        transition: all .5s cubic-bezier($transition-main, 1);
        z-index: 10;
      }
      &-content {
        min-width: 100%; max-width: 110%;
        min-height: 100%;
        position: absolute;
        object-fit: cover;
      }
    }
    &-video-button {
      left: -7.5em;
      width: 15em; height: 15em;
      position: absolute;
      background-color: hslac($background, 1);
      border: 1px solid hslac($white, .1);
      border-radius: 50%;
      cursor: pointer;
      pointer-events: none;
      z-index: 50;
      @include flex-center();
      @media (max-width: $layout-breakpoint-xmedium) {
        left: auto;
      }
      @media (max-width: $layout-breakpoint-small) {
        width: 10em; height: 10em;
      }

      svg {
        width: 2.5em;
        @media (max-width: $layout-breakpoint-small) {
          width: 2em;
        }
      }
    }
  }
  .component-grid-right {
    position: relative;
    @include flex-center();

  }
}