.banner {
  width: 100%; height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  z-index: 100;
  &-inner {
    position: relative;
  }
  .banner-row {
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 11.1em;
    @media (max-width: $layout-breakpoint-medium) {
      &:first-child {
        margin-top: 48px;
      }
    }
    &.center {
      justify-content: center;
      text-align: center;
      .row-letter {
        left: 0;
      }
    }
    &.right {
      justify-content: flex-end;
    }
    .row-title,
    .row-letter {
      font-size: 8.8rem;
      font-weight: 700;
      position: relative;
      font-family: $font-secondary;
      color: hslac($white, 1);
      display: inline-block;
      white-space: nowrap;
      @media (max-width: $layout-breakpoint-xsmall) {
        font-size: 6.6rem;
      }
      .space {
        margin: 0 .5em;
      }
    }
  }
}

.transition-image {
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  position: absolute;
  @include flex-center();
  img {
    width: 800px;
    display: flex;
  }
  &.final {
    top: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
    @include flex-center();
    z-index: -100;
    img {
      min-width: 100%;
      min-height: 100%;
      max-width: 110%;
      position: absolute;
      filter: brightness(50%);
      object-fit: cover;
      transform: scale(1, 1);
    }
  }
}
