.footer {
  padding: 15em 0 0 0;
  background-color: hslac($background-dark, 1);
  gap: 10em;
  @include flex-col-left();

  &-top {
    width: calc(100vw - calc($view-width-padding / 2));
    @include flex-center();

    &-inner {
      display: grid;
      grid-template-columns: minmax(calc($view-width-padding / 2), 1fr) minmax(auto, 760px) minmax(calc($view-width-padding / 2), 1fr);
      place-items: center;
    }
    &-list {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 4em;
      grid-column-end: 3; grid-column-start: 2;
      grid-row-end: 2; grid-row-start: 1;
      @media (max-width: $layout-breakpoint-small) {
        grid-template-columns: 1fr;
      }
      &-item {
        padding: 2.75em;
        width: 100%;
        position: relative;
        text-decoration: none;
        border-bottom: 1px solid hslac($white, .1);
        cursor: pointer;
        &-text {
          width: 100%;
          color: hslac($white, 1);
          font-size: $paragraph;
          font-family: $font-secondary;
          font-weight: 300;
          text-transform: uppercase;
          letter-spacing: .15em;
          text-align: center;
        }
        &-bar {
          top: auto; left: 0; bottom: -1px; right: 0;
          height: 1px;
          position: absolute;
          overflow: hidden;
          &-fill {
            width: 100%; height: 100%;
            background-color: hslac($white, 1);
            transform: translate3d(-101%, 0px, 0px);
            transition: transform .75s cubic-bezier($transition-main, 1);
          }
        }
      }
    }
  }
  &-center {
    width: 100%;
    gap: 2em;
    @include flex-center();

    &-social-icon {
      $svg-width: 2.2em;
      width: calc(4em + $svg-width); height: calc(4em + $svg-width);
      border: 1px solid hslac($white, .1);
      border-radius: 50%;
      transition: all .35s cubic-bezier($transition-main, 1);
      cursor: pointer;
      @include flex-center();

      &:hover {
        border: 1px solid hslac($white, 1);
      }
      svg {
        width: $svg-width;
      }
      #instagram, #github, #twitter {
        fill: hslac($white, 1);
      }
      #linkedin {
        fill: none;
        stroke: hslac($white, 1);
        stroke-width: 1px;
      }
    }
  }
  &-bottom {
    width: calc(100vw - calc($view-width-padding / 2));
    @include flex-center();
    &-inner {
      padding: 4em 0;
      border-top: 1px solid hslac($white, .1);
      @include flex-space-bet();

      &-left {
        gap: 2em;
        @include flex-left();

        p, span {
          color: hslac($grooble, 1);
          font-size: calc($paragraph - .2rem);
          font-family: $font-secondary;
          text-transform: uppercase;
          letter-spacing: .3em;
        }
      }
      &-right {
        gap: 2em;
        @include flex-right();

        p {
          color: hslac($grooble, 1);
          font-size: calc($paragraph - .2rem);
          font-family: $font-secondary;
          text-transform: uppercase;
          letter-spacing: .3em;
          cursor: pointer;
        }
      }
    }
  }
}