.gallery {
  width: calc(100vw - calc($view-width-padding / 2));
  min-height: 50em;
  border-top: 1px solid hslac($white, .1);
  border-bottom: 1px solid hslac($white, .1);
  @include flex-col();

  .component-grid-left {
    @media (max-width: $layout-breakpoint-xmedium) {
      grid-row: 2;
    }
  }
  .component-grid-right {
    @media (max-width: $layout-breakpoint-xmedium) {
      grid-row: 1;
    }
  }
  &-inner {
    grid-template-columns: 1fr 65% !important;
    @media (max-width: $layout-breakpoint-xmedium) {
      gap: 4em;
      grid-template-columns: 1fr !important;
    }

    &-left {
      padding: 10em 0;
      height: 100%;
      @include flex-space-bet-start-col();
      @media (max-width: $layout-breakpoint-medium) {
        padding: 6em 0;
      }
      @media (max-width: $layout-breakpoint-xmedium) {
        padding: 2em 4em 10em 4em;
        gap: 4em;
      }
    }
    &-showcase {
      width: 100%; height: 80vh;
      position: relative;
      gap: 5em;
      overflow: hidden;
      @include flex-left();

      &-item {
        width: 100%; height: 100%;
        position: relative;
        border-left: 1px solid hslac($white, .1);
        border-right: 1px solid hslac($white, .1);
        overflow: hidden;
        @include flex-center();

        &-background {
          min-width: 100%; min-height: 100%;
          position: absolute;
          object-fit: cover;
        }
        .gis-wide {
          max-width: 110%;
        }
        .gis-tall {
          max-height: 110%;
        }
      }
    }
  }
}