.gallery {
  width: 100vw;
  min-height: 50em;
  border-top: 1px solid hslac($white, .1);
  /* border-bottom: 1px solid hslac($white, .1); */
  @include flex-col();

  .component-grid-left {
    @media (max-width: $layout-breakpoint-xmedium) {
      grid-row: 1;
    }
  }
  .component-grid-right {
    @media (max-width: $layout-breakpoint-xmedium) {
      grid-row: 2;
    }
  }
  &-inner {
    width: 100%;
    grid-template-columns: 1fr !important;
    place-items: center;
    @media (max-width: $layout-breakpoint-xmedium) {
      gap: 4em;
    }

    &-left {
      padding: 10em 0;
      height: 100%;
      @include flex-space-bet-start-col();
      @media (max-width: $layout-breakpoint-medium) {
        padding: 8em 0;
      }
      @media (max-width: $layout-breakpoint-xmedium) {
        padding: 6em 0;
        gap: 4em;
      }
    }
    &-showcase {
      width: 100%;
      position: relative;
      @include flex-col();

      &-item {
        width: 100%; height: 60vh;
        position: relative;
        overflow: hidden;
        @include flex-center();

        &-background {
          min-width: 100%; min-height: 100%;
          position: absolute;
          object-fit: cover;
        }
        .gis-wide {
          max-width: 110%;
        }
        .gis-tall {
          max-height: 110%;
        }
      }
    }
  }
}