.intro {
  width: calc(100vw - calc($view-width-padding / 2));
  min-height: 50em;
  border-top: 1px solid hslac($white, .1);
  overflow: hidden;
  @include flex-col();

  .component-grid-top {
    @include flex-col();

  }
  .component-grid-bottom {
    gap: 6em;
    @include flex-col();

    h1 {
      width: 60%;
      text-align: center;
      font-family: $font-main;
      font-size: calc($heading-medium + 1rem);
      font-weight: 800;
      line-height: 1.4em;

      span {
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
      }
      .out {
        color: transparent !important;
        -webkit-text-stroke: 1px hslac($white, 1);
      }
    }
  }
  &-inner {
    padding: 20em 0;
    width: 100%; height: 100%;
    position: relative;
    grid-template-columns: 1fr;
    @include flex-center();

    &-foreground {
      width: 100%; height: 100%;
      position: relative;
      gap: 3em;
      pointer-events: none;
      user-select: none;
      z-index: 50;
      @include flex-col();
    }
    &-social-icon {
      $svg-width: 3.2em;
      position: absolute;
      width: calc(2em + $svg-width); height: calc(2em + $svg-width);
      transition: opacity .35s cubic-bezier($transition-main, 1), transform 1s cubic-bezier($transition-main, 1);
      will-change: transform;
      opacity: .8;
      cursor: pointer;
      @include flex-center();

      &:hover {
        opacity: .5;
      }
      svg {
        width: $svg-width;
      }
      .i-instagram {
        fill: hslac($pink, 1);
      }
      .i-github {
        fill: hslac($lightpurple, 1);
      }
      .i-twitter {
        fill: hslac($blue, 1);
      }
      .i-linkedin {
        fill: none;
        stroke: hslac($lightblue, 1);
        stroke-width: 1px;
      }
    }
    .cgt {
      text-align: center;
    }
  }
}