.navbar {
  top: 0;
  width: calc(100vw - calc($view-width-padding / 2));
  font-size: 1.8rem;
  height: 8em;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  color: hslac($white, 1);
  z-index: 999;
  &-inner {
    height: 5em;
    display: grid !important;
    grid-template-columns: 25% 1fr 25%;
    border: 1px solid hslac($white, .1);
    z-index: 999;
    @include flex-space-bet();
    @media (max-width: $layout-breakpoint-xmedium) {
      grid-template-columns: 35% 1fr 35%;
    }
    @media (max-width: $layout-breakpoint-small) {
      grid-template-columns: auto 1fr;
    }

    &-left {
      width: 100%; height: 100%;
      @include flex-left();
      @media (max-width: $layout-breakpoint-small) {
        display: none;
      }

      &-button {
        margin: 0 0 0 2em;
        font-family: $font-secondary;
        font-weight: 300;
        color: hslac($white, 1);
        background-color: transparent;
        border: none;
        letter-spacing: .1em;
        text-transform: uppercase;
        cursor: pointer;
      }
    }
    &-center {
      width: 100%; height: 100%;
      border-left: 1px solid hslac($white, .1);
      border-right: 1px solid hslac($white, .1);
      @include flex-center();

      &-logo {
        @media (max-width: $layout-breakpoint-small) {
          padding: 0 2em;
        }
        svg {
          width: 3.6rem;
          @media (max-width: $layout-breakpoint-medium) {
            width: 3.2rem;
          }
          .cls-1 {
            fill: hslac($white, 1);
          }
        }
      }
    }
    &-right {
      width: 100%; height: 100%;
      gap: 1.5em;
      @include flex-right();

      &-title {
        font-family: $font-secondary;
        font-weight: 300;
        color: hslac($white, 1);
        letter-spacing: .1em;
        text-transform: uppercase;
      }
      &-line {
        width: 2.5em; height: 1px;
        background-color: hslac($white, .1);
      }
      &-burger {
        margin: 0 2em 0 0;
        position: relative;
        svg {
          width: 3em;
          stroke: hslac($white, 1);
          fill: transparent;
          stroke-linecap: round;
          cursor: pointer;
          path:first-child {
            stroke-width: .2;
          }
        }
      }
    }
  }
}

.menu {
  top: 0;
  width: 100%; height: 100%;
  position: fixed;
  opacity: 1;
  pointer-events: none;
  z-index: 998;
  &-inner {
    width: 100%; height: 100%;
    position: relative;
    background-color: hslac($background-dark, 1);
    transform: translateY(-100%);
    transition: transform 1s cubic-bezier($transition-main, 1);
  }
  .slide-down {
    transform: translateY(0);
  }
}

header {
  width: 100%; height: 100%;
  position: relative;
}
.overlay {
  width: 100%; height: 100%;
  position: absolute;
  z-index: 50;
  background-color: rgba(3, 6, 12, 0.5);
}