.projects {
  padding: 20em 0;
  width: calc(100vw - calc($view-width-padding / 2));
  min-height: 50em;
  @include flex-col();
  &-inner {
    &-grid {
      display: grid;
      row-gap: 15em;
      &-item {
        display: grid;
        gap: 6em;
        @media (max-width: $layout-breakpoint-small) {
          gap: 4em;
          grid-template-columns: 1fr !important;
        }

        &-image {
          width: 100%; height: 1fr;
          position: relative;
          overflow: hidden;
          @include flex-center();
          @media (max-width: $layout-breakpoint-small) {
            grid-row: 1;
          }

          &::after {
            content: "";
            display: block;
            padding-bottom: 70%;
          }
          img {
            min-width: 100%; max-width: 110%;
            min-height: 100%;
            position: absolute;
            object-fit: cover;
          }
        }
        &-info {
          width: 100%;
          font-family: $font-secondary;
          @include flex-space-bet-start-col();
          @media (max-width: $layout-breakpoint-small) {
            grid-row: 2;
          }

          &-tag {
            font-size: $paragraph;
            font-weight: 300;
            letter-spacing: .2em;
            text-transform: uppercase;
            @media (max-width: $layout-breakpoint-small) {
              padding: 0 0 .8em 0;
            }
          }
          &-bottom {
            gap: 4em;
            @include flex-col-left();

            &-title {
              font-size: $heading-small;
              font-weight: 500;
              line-height: 1.3;
            }
            &-button {
              padding: 0 0 1em 0;
              color: hslac($white, 1);
              font-family: $font-secondary;
              font-size: $paragraph;
              font-weight: 300;
              background-color: transparent;
              border: none;
              border-bottom: 1px solid hslac($white, .1);
              letter-spacing: .4em;
              text-transform: uppercase;
              cursor: pointer;
            }
          }
        }
      }
      .pigif {
        grid-template-columns: 60% 1fr;
      }
      .pigil {
        grid-template-columns: 1fr 60%;
      }
    }
  }
}