.timeline {
  padding: 20em 0;
  /*width: calc(100vw - calc($view-width-padding / 2));*/
  width: 100vw;
  min-height: 50em;
  @include flex-col();

  &-inner {
    &-grid {
      @include flex-col-start-center();

      &-item {
        width: 100%;
        border-top: 1px solid hslac($white, .1);
        cursor: pointer;
        &:last-child {
          border-bottom: 1px solid hslac($white, .1);
        }
        &:hover .outer, &:hover .inner {
          transform: none;
        }

        &-content {
          padding: 6em 0;
          position: relative;
          display: grid;
          grid-template-columns: auto auto 1fr;
          place-items: center;
          gap: 2.5em;
          &-image {
            top: calc(-50% + -8em); left: calc(50% + 2em);
            width: 25em; height: 25em;
            position: absolute;
            background-color: hslac($background-dark, 1);
            border-radius: 50%;
            pointer-events: none;
            user-select: none;
            transform: scale(0, 0);
            opacity: 0;
            overflow: hidden;
            z-index: 50;
            img {
              width: 100%; height: 100%;
              object-fit: cover;
            }
          }
          &-date, &-title-text {
            font-family: $font-secondary;
            font-size: $heading-medium;
            font-weight: 600;
            line-height: 1.3;
          }
          &-date {

          }
          &-title {
            width: 100%;
            position: relative;
            overflow: hidden;
            @include flex-left();
            &-text {
              position: relative;
              color: transparent;
              font-size: $heading-medium;
              -webkit-text-stroke: 1px hslac($white, 1);
              .outer {
                top: 0; left: 0;
                position: absolute;
                color: hslac($white, 1);
                transform: translateY(100%);
                overflow: hidden;
              }
              .inner {
                display: inline-block;
                transform: translateY(-100%);
              }
              .outer, .inner {
                font-size: $heading-medium;
                pointer-events: none;
                transition: transform .75s cubic-bezier($transition-main, 1);
              }
            }
          }
          &-divider {
            width: 6em; height: 1px;
            background-color: hslac($white, .1);
          }
        }
      }
    }
  }
}